In [1]:
# importing imporatant packages

In [18]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# reading .csv files

In [20]:
df_train=pd.read_csv("D:\Data\carvan_train.csv")
df_test=pd.read_csv("D:\Data\carvan_test.csv")

In [21]:
df_train.shape,df_test.shape

((5822, 86), (4000, 85))

In [22]:
df_train.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V77,V78,V79,V80,V81,V82,V83,V84,V85,V86
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0

In [3]:
# Combining test and train files

In [23]:
df_test['V86']=np.nan
df_train['data']='train'
df_test['data']='test'
df_test=df_test[df_train.columns]

df_all=pd.concat([df_train,df_test],axis=0)

In [25]:
df_all.head(5)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V78,V79,V80,V81,V82,V83,V84,V85,V86,data
0,33,1,3,2,8,0,5,1,3,7,...,0,0,1,0,0,0,0,0,0.0,train
1,37,1,2,2,8,1,4,1,4,6,...,0,0,1,0,0,0,0,0,0.0,train
2,37,1,2,2,8,0,4,2,4,3,...,0,0,1,0,0,0,0,0,0.0,train
3,9,1,3,3,3,2,3,2,4,5,...,0,0,1,0,0,0,0,0,0.0,train
4,40,1,4,2,10,1,4,1,4,7,...,0,0,1,0,0,0,0,0,0.0,train

In [26]:
df_all.shape

(9822, 87)

In [27]:
cat_col=['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31',
       'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41',
       'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51',
       'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61',
       'V63', 'V64', 'V65', 'V66', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73',
       'V74', 'V75', 'V76', 'V79', 'V80', 'V82', 'V83', 'V84', 'V85']

In [4]:
# Creating dummy files

In [28]:
for col in cat_col:
  k=df_all[col].value_counts(dropna=False)
  cats=k.index[k>20][:-1]
  for cat in cats:
    name=col+'_'+str(cat)
    df_all[name]=(df_all[col]==cat).astype(int)
    
  del df_all[col]

In [29]:
df_all.shape

(9822, 425)

In [5]:
# separating test files and train files

In [30]:
df_train=df_all[df_all['data']=='train']
del df_train['data']

df_test=df_all[df_all['data']=='test']
df_test.drop(['data','V86'],axis=1,inplace=True)

In [31]:
df_train['V86']=df_train['V86'].astype(int)

C:\Users\Binayak\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
df_train.head()

,V62,V67,V77,V78,V81,V86,V1_33,V1_38,V1_8,V1_39,...,V76_1,V76_2,V79_0,V80_1,V80_0,V82_0,V83_0,V83_1,V84_0,V85_0
0,0,0,0,0,0,0,1,0,0,0,...,0,0,1,1,0,1,1,0,1,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,1,0,1,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,1,0,1,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,1,0,1,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,1,0,1,1

In [39]:
x_train=df_train.drop(['V86'],axis=1)

In [43]:
y_train=df_train['V86']

In [44]:
x_train.shape,y_train.shape

((5822, 423), (5822,))

## Random forest classifier

In [45]:
rclf=RandomForestClassifier(verbose=1, n_jobs=-1,
                           n_estimators= 600, 
                            min_samples_split= 15,
                            min_samples_leaf= 2, 
                            max_features= 40, 
                            max_depth= 5,
                            criterion= 'gini',
                            class_weight= 'balanced', 
                            bootstrap= False)

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.utils import resample
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report

In [46]:
rclf.fit(x_train, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done 600 out of 600 | elapsed:    4.2s finished

RandomForestClassifier(bootstrap=False, class_weight='balanced', max_depth=5,
                       max_features=40, min_samples_leaf=2,
                       min_samples_split=15, n_estimators=600, n_jobs=-1,
                       verbose=1)

In [47]:
test_score=rclf.predict_proba(df_test)[:,1]

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    0.3s
[Parallel(n_jobs=4)]: Done 600 out of 600 | elapsed:    0.4s finished

In [48]:
train_score=rclf.predict_proba(x_train)[:,1]

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.3s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    0.5s
[Parallel(n_jobs=4)]: Done 600 out of 600 | elapsed:    0.6s finished

In [49]:
train_score

array([0.5385744 , 0.28553277, 0.48779833, ..., 0.65363273, 0.47976899,
       0.32199825])

In [50]:
test_score

array([0.30958287, 0.72313421, 0.6534895 , ..., 0.59073269, 0.51631219,
       0.3949293 ])

In [52]:
final=rclf.predict(df_test)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 600 out of 600 | elapsed:    0.3s finished

In [54]:
df_test.shape

(4000, 423)

In [55]:
final.shape

(4000,)

In [7]:
# saving file

In [56]:
pd.DataFrame(final).to_csv("proj2_sub3.csv",index=False)